.movie {
  display: grid;
  grid-template-columns: 180px 271px;
  justify-self: center;
  height: 280px;
  background-color: var(--color-light);
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.15);
}
.movie__img {
  width: 180px;
  height: 280px;
  object-fit: cover;
}
.movie__info {
  display: grid;
  padding: 10px 10px 10px 20px;
  grid-template-rows: auto auto auto 1fr auto;
  gap: 10px;
}
.movie__header {
  display: flex;
  justify-content: space-between;
}
.movie__title {
  margin-right: auto;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}
.movie__release {
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
}
.movie__genres {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  gap: 5px;
  list-style-type: none;
}
.movie__genre {
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
}
.movie__genre span {
  margin: 0;
}
.movie__overview {
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
}
.movie__rating {
  justify-self: center;
}
.movie__rating ul {
  font-size: 14px;
}
.movie__vote-average {
  display: flex;
  margin-left: 10px;
  width: 30px;
  height: 30px;
  font-size: 12px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border: 2px solid black;
  border-radius: 50px;
}
.red {
  border-color: #e90000;
}
.orange {
  border-color: #e97e00;
}
.yellow {
  border-color: #e9d100;
}
.green {
  border-color: #66e900;
}
@media (max-width: 575.98px) {
  .movie {
    grid-template-columns: 80px auto;
    width: 100%;
    padding: 10px;
  }
  .movie__img {
    width: 60px;
    height: 90px;
    object-fit: cover;
  }
  .movie__info {
    display: grid;
    padding: 0;
    grid-template-rows: auto auto auto 1fr auto;
    gap: 10px;
  }
  .movie__overview {
    margin-left: -80px;
  }
  .movie__rating {
    justify-self: end;
  }
}
