.container {
  max-width: 1010px;
  margin: 0 auto;
  padding: 32px;
}

.alert-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.alert {
  min-width: 400px;
}

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
